.App {
  display: flex;
  flex-direction: row;
  width: 100vw;
  min-height: 100vh;
  align-items: stretch;
  background-color: black;
  color: white;
  font-family: 'Baloo Chettan 2', cursive;;
}

/*Selector*/
#title-wrapper {
  margin: -20px;
  padding: 20px;
  font-size: 40px;
  width: 100%;
  text-align: center;
}

#macro-selector {
  width: 40%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.select-type-wrapper{
  margin: 10px;
}

/*Viewer-Editor*/
#viewer-editor {
  display: flex;
  flex-direction: column;
  padding: 10px;
  display: flex;
  width: 60%;
}

#macro-viewer {
  height: 30%;
}

#editor {
  height: 100%;
}

.copy-button {
  margin: 0 auto;
  padding: 0px 10px;
  font-size: 15px;
  font-family: 'Baloo Chettan 2', cursive;
  border-radius: 5px;
}

.copy-button:hover {
  background-color: rgb(236, 196, 17);
}


textarea {
  margin: 0;
  resize: none;
  width: 95%;
  margin: 3px;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
  font-size: 15px;
}

/*General*/
h5 {
  margin: 3px;
  font-size: 20px;
}

