.select-button{
    margin: 3px;
    padding: 2px 4px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Baloo Chettan 2', cursive;
    border-radius: 5px;
}

.select-button:hover {
    background-color:rgb(214, 214, 214)
}

.select-button:focus {
    background-color: rgb(184, 184, 184);
}

